<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header>
        <h1>Detalles del piso</h1>
        <%- include('./partials/header.ejs') %>
    </header>
    <div class="w3-card-4 w3-dark-grey">

        <% if (piso) { %> 

        <div class="w3-container w3-center">
            <h3><%= piso.titulo %></h3>
            <img src="<%= piso.foto %>" alt="Avatar" style="width:80%">
            <h5><%= piso.ubicacion %></h5>
            <h5><%= piso.precio %> €</h5>


            <button class="w3-button w3-green">Contactar</button>
            <button class="w3-button w3-red">No me interesa</button>
        </div>

        <% } else { %> 
            
        <p> No hemos encontrado el inmueble en la base de datos.</p>
    
        <% } %> 

    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>