<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header>
        <h1>Lista de pisos disponibles</h1>
        <%- include('./partials/header.ejs')  %> 
    </header>
    <div class="w3-container">
        <div class="w3-row">
        <% todosLosPisos.forEach(function(piso) { %>
            <h2> <%= piso.titulo %>  </h2>

            <div class="w3-card-4">
                <img src="<%= piso.foto %>" alt="foto casa" style="width:100%">
                <div class="w3-container w3-center">
                    <p>Precio: <%= piso.precio %>  </p>
                </div>
            </div>

            <% }); %>
        </div>

                <p>Total de pisos encontrados: <%= totalPisos %>
                </p>
    </div>

<%- include('./partials/footer.ejs') %>
</body> 
</html>